<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<meta name="author" content="Unknown" />
<meta name="description" content="MapIM" />
<meta name="keywords" content="Map IM">

<link href="/css/bootstrap.min.css" rel="stylesheet" />

<script src="/js/jquery-1.10.1.min.js"></script>

<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
